body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-position: fixed;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}



.background2 {
    background: flex;
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/woods.jpg);
    background-position: 50% 50%;
    border: solid 10px #fff;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
}

nav li {
    list-style: none;
    font-size: 90px;
    text-align: center;
    line-height: 1.6;

   
}

nav a {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    border: solid 5px;
    width: 400px;
    height: 150px;
    margin-top: 80px;
    text-align: center;
    


}

.woman {
   


   
}

.men {



}





p {
    font-size: 80px;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 50rem;
    text-align: center; 
    float: left;



}