
body {  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding: auto;
    }



ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}


nav li {
    list-style: none;
    text-decoration: none;
}
    
nav a {
    text-decoration: none;
    list-style: none;

}
nav a:hover {
    text-decoration: none;
    list-style: none;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

/*Header*/

header {
    display: grid; 
    position: relative;
    grid-template-columns: auto auto;
    grid-row: auto auto;
}  

.headlogo {
    max-width: 100px;
    height: auto;
    margin: auto;
    margin-top: auto;
    margin-right: 20px; 

}


.headlogo1 {
    visibility: hidden;
    max-width: 100px;
    height: auto;
    margin: auto;
    margin-top: auto;
    margin-right: 20px; 
}
 


nav header {
    background: #FFF;
    border: 1px solid #0A3641;
    width: 21px;
    line-height: 1.5; 
}

button, #back, nav, #menu-chechbox {
    display: none;
}

#menu-chechbox:checked ~ nav {
    display: block;
    float: left;
    line-height: 1.5;
    margin-left: 27px;
}

nav a {
    display: block;
    color: #0A3641;
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label {
    display: flex;
    position: relative;
    margin: 30px;
    margin-bottom: 5px;
}



    

/*Index & Start*/

.background { 
    background-image: url('/images/raindrops.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.press {
    background-image: url('/images/clearwaterdrops.jpg');
    background-size: cover;
    color: #0A3641;
    width: 100%;
    padding: 60px;
    text-decoration: none;
    box-sizing:border-box;
    border: 1px solid #0A3641;
    background-color: #0A3641;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 200px;
}

.logo1 {
    display: block;
    width: 260px;
    margin-top: 200px;
    margin-left: auto; 
    margin-right: auto;
}


/*Home*/

.lineO {
    display:  block;
    border: 1px solid #0A3641; 
    margin-top: 10px;
}

.lineU {
    display: block;
    border: 3px solid; 
    border-color: #0A3641;
    margin-top: a
}

.background1 {
    display: block;
    background-image: url(/images/raincoatforest.jpg);
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}   
.p5 {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0%;
    margin-top: 10px;
}
.p5 span {
    font-size: 10px;
    font-style: unset;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.woman a, .men a {
    width: 100%;
    height: auto;
    padding: auto;
    margin: auto;
    color: #fff;
    font-size: 20px; 
    background: linear-gradient(360deg, #0A3641, #FFF);
    -webkit-text-fill-color: #0A3641;
    -webkit-text-stroke-width: 1px;
}

.woman, .men {
    display: inline-flex;
    border: 2px solid #0A3641;
    box-sizing: border-box;
    color: #fff;
    width: 120px;
    height: auto;
    margin: 10px;  
    padding: 1px;
    text-align: center;
    font-weight: bolder;
    -webkit-text-fill-color: #0A3641;
    -webkit-text-stroke-width: 1px;
    
 }   



/*About us*/

.line1 {
    display:  block;
    border: 3px solid; 
    border-color: #0A3641;
    margin-top: 30px;
}

.aboutus {
    margin-top: 3px;
    font-size: 30px;
    color: #0A3641;
}

.img4 {
    display: flex;
    width: 50px;
    margin: auto;
    flex-grow: 2;
    background: #0A3641;
    box-shadow: 10px 10px 10px #0A3641;
}

.p1 {
    display: block;
    color: #0A3641;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 40px;
    line-height: 1.5em;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.p2 {
    display: block;
    color: #0A3641;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    line-height: 1.5em;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.p3 {
    display: block;
    color: #0A3641;
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    font-style: normal;
    text-align: center;
}
.logo4 {
    display: block;
    width: 80px;
    margin-left: 40px;
    margin-top: 80px;
}

.p4 {
    display: block;
    color: #0A3641;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 16px;  
}

.line2 {
    display: block;
    border: 3px solid; 
    border-color: #0A3641;
    margin-top: 40px;
}

.line3 {
    display: block;
    border: 6px solid; 
    border-color: #0A3641;
    margin-top: 0.5rem;
}



/*Woman & Men*/


.site-name {
    display: block;
    margin: auto;    
    padding: 3px; 
    margin-top: 20px;
    width: 100%;
    color: #0A3641;
    font-size: 60px;
    text-align: center;
    box-sizing: border-box;
    border: #0A3641 solid 4px;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
}

.container1 { 
    display: grid; 
    width: 95%;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
    place-items: center;

}

.shop {
    border: #0A3641 solid 1px;
    width: 150px;
    height: 280px;
    margin-bottom: 20px;
}

.shop p {
    font-size: 16px;
    margin: 1em;
}

.shop span {
    float: right;
    font-size: 16px;
}
.shop-image {
    display: block;
    width: 80%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}
.img1 {
    align-items: center;
}

.bn {
    border: 1px solid #0A3641;
    box-sizing: border-box;
    background-color: #0A3641;
    width: 100px;
    height: 30px;
    list-style: none;
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding: 4px;
    text-decoration: none;
}

.line5 {
    display: block;
    border: 3px solid; 
    border-color: #0A3641;
    margin-top: 30px;
}

.bn a {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-weight: lighter;
}


.img1 {
    background-image: url('/images/Jacket/oxygen.jpg');
}
.img2 {
    background-image: url('/images/Jacket/lake.jpg');
}
.img3 {
    background-image: url('/images/Jacket/ocean.jpg');
}
.img8 {
    background-image: url('/images/Jacket/flora.jpg')
}
.img5 {
    background-image: url('/images/Jacket/ozone.jpg');
}
.img6 {
    background-image: url('/images/Jacket/river.jpg');
}
.img7 {
    background-image: url('/images/Jacket/steam.jpg');

}

/*Product*/

.product1 {
    display: block;
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.pro-name {
    color: #0A3641;
    font-weight: bold;
    letter-spacing: 1em;
    text-align: center;
    margin-left: 10px;

}
.price {
    display: block;
    color: #0A3641;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5em;
}

.props {
    display: block;
    color: #0A3641;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1em;
}

.line6 {
    display: block;
    border: 1px solid #0A3641; 
}
.line7 {
    display: block;
    border: 1px solid #0A3641; 
}
.line8 {
    display: block;
    border: 1px solid #0A3641; 
    visibility: hidden;
}

.atc {
    display: block;
    border: 3px solid #0A3641;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    width: 200px;
    height: auto;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin: auto;
    margin-top: 40px;
}

.atc a {
    list-style: none;
    text-decoration: none;
    color: #0A3641;
    font-weight: bolder;
}

.size {
    display: flex; 
    justify-content: center;
}

.sizes {   
    font-size: 20px;
    margin: auto;
    color: #0A3641;
}

input {
    scale: 2; 
    margin: 18px;
   
}

form { 
    display: flex;
}   







/*MEDIA*/

@media (min-width: 200px) {

    .img4 {
        min-width: 350px;
        height: auto;
        
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
    
    /*All html*/

    h1 {
        text-align: left;
        margin-left: 40px;
    } 

    img {
        min-width: 250px;
        max-width: 300px;
    }      
/*Header*/    


    .headlogo {
        min-width: 120px;
        height: auto;
        margin-top: 20px;
    }


    header {
  
    }

  


/*Index & Home*/  
    
    .woman {
        min-width: 200px;
        height: auto;
    }
    .men {
        min-width: 200px;
        height: auto;
    }

    
/*About us*/

    .img4 {
        min-width: 600px;
        height: auto;
        margin-left: 40px;
    } 
    
    .line1 {
        margin-top: 20px;
    }

    .p1 {
        font-size: 2rem;
        margin-top: 30px;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }

    .p2 {
        font-size: 2rem;
        text-align: center;
    }

    .p3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .logo4 {
        min-width: 100px;
        margin-top: 80px;
        margin-left: 40px;
    }

    .p4 {
        font-size: 1.5rem;
        margin-left: 70px;
    }

    .line2 {
        margin-top: 20px;
    }

    .aboutus {
        font-size: 40px;
    }


/*Woman & Men*/
    .site-name { 
        font-size: 4em;
    }

    .container1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 95%;


    }
    .shop {
        width: 190px;
        height: auto;

    }
    .shop p {
        font-size: 18px;
    }
    
    .shop span {
        float: right;
        font-size: 18px;
    }

    .bn {
       width: 100px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {

 /*All html*/

    h1 {
        text-align: left;
        margin-left: 40px;
    }
 /*Header*/    

    .headlogo {
        min-width: 140px ;
        height: auto;
    }




 /*Index & Home*/

    .background1 {
        display: block;
        background-image: url(/images/raincoatforest.jpg);
        width: 100%;
        height: 100vh;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }   
    
    .p5 {
        font-family:'Courier New', Courier, monospace;
        font-size: 50px;
        color: #fff;
        text-align: center;
        padding: 10px;
        margin: 0%;
        margin-top: 10px;
    }

    .p5 span {
        font-size: 30px;
        font-style: unset;
        text-align: center;
        margin: 0%;
    }

    .woman {
        min-width: 330px;
        height: auto;
        margin: 20px;  
        padding: 10px; 
        background: linear-gradient(180deg, #FFF,#0A3641);
    }   
    
    .men {
        min-width: 330px;
        height: auto;
        margin: 20px;  
        padding: 10px;
        background: linear-gradient(180deg, #FFF,#0A3641);
    }

    .site {
        font-size: 3em;
        -webkit-text-stroke-width: 4px;
    }
  

 /*About us*/   

    .img4 {
        min-width: 700px;
        height: auto;
    }
    
    .line1 {
        margin-top: 20px;
    }

    .p1 {
        font-size: 3rem;
        text-align: center;
    }

    .p2 {
        font-size: 3rem;
        text-align: center;
    }
    .p3 {
        font-size: 3rem;
        text-align: center;
    }

    .logo4 {
        margin:0;
        min-width: 200px;
        margin-left: 50px;
        margin-top: 150px;
    }

    .p4 {
        font-size: 1.5rem;
        margin-left: 45px;
    }

    .line1 {
        margin-top: 20px;
    }

    .aboutus {
        font-size: 50px;
    }

    img {
        min-width: 250px;
        max-width: 300px;
    }    

    .line2 {
        margin-top:30px;
    }

/*Woman&Men*/    

    .site-name { 
        font-size: 4em;
    }
   
    .container1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 95%;


    }
    .shop {
        width: 190px;
        height: auto;

    }
    .shop p {
        font-size: 18px;
    }
    
    .shop span {
        float: right;
        font-size: 18px;
    }

    .bn {
       width: 100px;
    }
}

   
@media only screen and (min-width: 901px) {

/*All html*/
    body{
        width: 90%;
    }
    h1 {
        text-align: left;
        margin-left: 40px;
        font-size: 4rem;
    }

    img {
        min-width: 500px;
        margin: 200px;
    }

/*Header*/ 
    
    header {
        display: grid;
        grid-columns: 1fr 2fr;
        grid-rows: auto 1fr;
        margin-bottom: -140px;
    }

    .headlogo1 {
        visibility: hidden;
    }

    .headlogo {
        display: grid;
        visibility: visible;
    
        min-width: 150px;
        height: auto;
        justify-content: right;
       
    }
    .fa-solid {
        scale: 1.5;
    }

    .hide {
        display: none;
        position: relative;
        min-width: 150px;
        height: auto;
        float: left;
        grid-row: 2;
    }

    ul {
        display: flex; 
    }
    
    #menu-chechbox:checked ~ nav {
        display: grid;
        grid-row: 2;
    }

    nav {
        display: flex;
        position: relative;
        border: none;
        width: 100px;
    }

    a {
        position: relative;
        width: 150px;
        margin: 5px;
        text-align: left;
        text-align: center;
    }
      
    
/*Index & Home*/

    .background1 {
        display: block;
        background-image: url(/images/raincoatforest.jpg);
        width: 100%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }   
    .p5 {
        font-family:'Courier New', Courier, monospace;
        font-size: 50px;
        color: #fff;
        text-align: center;
        padding: 10px;
        margin: 0%;
        margin-top: 10px;
    }
    .p5 span {
        font-size: 30px;
        font-style: unset;
        text-align: center;
        margin: 0%;
    }

    .woman, .men {
        min-width: 330px;
        height: auto;
        margin: 20px;  
        padding: 10px;
    }   
    


/*Woman & Men*/   

    .site-name { 
        font-size: 5em;
    }

    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
        grid-column: span 2;
        width: 70%;
        margin: auto;
    }
    .shop {
        width: 400px;
        height: auto; 
       
    }

    .shop-image {
        width: 90%;
        height: 400px;
        align-items: center;
       

    }
    .shop p {
        font-size: 40px;
    }
    
    .shop span {
        float: right;
        font-size: 40px;
        font-weight: bold;
    }

    .bn {
       width: 300px;
       height: 60px;
       font-size: 45px;
       font-weight: bold;
    }
    

/*About us*/

    .line1 {
        margin-top: 20px;
    } 
    
    .aboutus {
        font-size: 8rem;
    }

    .img4 {
        display: flex;
        min-width: 1150px;
        float: right;
        height: auto;
        margin: 30px;
        background: #0A3641;
        box-shadow: 20px 20px 20px #0A3641;   
        flex-shrink: 2;
    }

    .p1 {
        font-size: 4rem;
        margin-top: 6e30pxm;
        text-align: left;
    }

    .p2 {
        font-size: 4rem;
        text-align: left;
    }

    .p3 {
        font-size: 5rem;
        text-align: left;
    }

    .logo4 {
        margin: 0;
        min-width: 200px;
        margin-left: 50px;
        margin-top: 150px;
    }

    .p4 {
        font-size: 2rem;
        margin-left: 50px;
    }

    .line1 {
        margin-top: 20px;
    }
    
    .line2 {
        margin-top: 90px;
    }

/*Product*/


    .line8 {
        visibility: hidden;
        margin-top: 20px;
    }
    
    .style1 {
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
    }
    .pro-name {
        margin-bottom: 90px;
    }

    .product1 {
        min-width: 900px;
        margin:100px;
        height: auto;
    }
    
    .props {
        font-size: 50px;
        margin: 70px;
    }
       
    .price {
        font-size: 50px;
        font-weight: bold;
        margin: 30px;
        margin-left: 30px;
        margin-bottom: 300px;
        text-align: right;
    }

    .atc li {
        display: flex;
        
    }    

    .atc a {  
        display: block; 
        font-size: 50px;
        width: auto; 
        height: auto;
       
    }

    .atc {
        min-width: 500px; 
        height: auto;
        text-align: center;  
        margin-top: 100px;
    }

    input {
        scale: 4;
    }

    .sizes {
        font-size: 60px;
        font-weight: 400;
        margin: 20px;
    }
   


    






}
