
body {  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-position: fixed;
    }
    

    
nav a:hover {
    text-decoration: none;
    list-style: none;
}
    
/*Index*/

.background1 {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/raindrops.jpg);

}

.logo1 {
    width: fit-content;
}


nav a:hover {
    text-decoration: none;
    list-style: none;
}

.press { 
    background-color: #0A3641;
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin: auto;
    box-sizing: border-box;
    border-bottom: #fff;


}



footer {
    margin-bottom: 6rem;
    margin-top:    0%;
}


/*Home*/

.background2 {
    background: flex;
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/woods.jpg);
    background-position: 50% 50%;
    border: solid 10px #fff;
    box-sizing: border-box;

}




.woman+.men {
   
    display: inline-block;
    font-size: 30px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    border: solid 5px;
    width: 400px;
    height: 150px;
    margin-top: 80px;
    text-align: center;

   
}

.men {



}



/*About us*/

.line1 {
    display: block;
    border: 3px solid; 
    border-color: #0A3641;
    margin: auto;
 }

.line2 {
    display: block;
    border: 3px solid; 
    border-color: #0A3641;
    margin-top: 3rem;
}

.line3 {
    display: flex;
    border: 6px solid; 
    border-color: #0A3641;
    margin-top: 0.5rem;
}

.p1 {
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    line-height: 150%;
    position: relative;
    font-size: 24px;
    font-style: italic;
 
}

.p2 {
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    line-height: 150%;
    position: relative;
    font-size: 24px;
    font-style: italic;
 
}
.p3 {
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
    position: relative;
    font-style: normal;
}

.p4 {
    margin-left: 30px;
    margin-top: 140px;
    font-size: 20px;
}

.img4 {
    width: 700px;

}
.img4 {
    display: flex;
    float: right;
    flex-shrink: 0;
    max-width: 90%;
    max-height: 100%;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
 
}



/*Woman + Men*/

.site {
    border: 3px solid;
    color: #0A3641;
    font-size: 40px;
    text-align: center;
    background-color: #fff;
    border-color: #0a3641;
    width: 100%;
}

@media (max-width: 320px) {
    body{
        color:#fff

    }
    .logo1 {
        size: 2px;
    }
}